.feed {
  flex: 0.4;
  border-right: 2px solid var(--tweeety-background);
  height: 100vh;
  min-width: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 2px solid var(--tweeety-background);
  padding: 15px 20px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed_header > h2 {
  font-size: 20px;
  font-weight: 800;
}
