.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid var(--tweeety-background);
  padding-bottom: 10px;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_body > img {
  border-radius: 20px;
  max-width: 500px;
  max-height: 400px;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post_badge {
  font-size: 14px !important;
  color: var(--tweeety-color);
}

.post_headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post_avatar {
  padding: 20px;
}
